accelerate
transformers
diffusers[torch]
ftfy
opencv-python
einops
pytorch-lightning
bitsandbytes
prodigyopt
lion-pytorch
schedulefree
tensorboard
safetensors
altair
easygui
toml
voluptuous
huggingface-hub
# for Image utils
imagesize
# For logging
rich==13.7.0
# for T5XXL tokenizer (SD3/FLUX)
sentencepiece
# for kohya_ss library
-e .
